<div class="row">
    <div class="col bg-warning text-dark">
            <h2 class="text-center">Burgers Ordered</h2>
      <ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
          {{burger_name}}
          	<button class="change_devoured" data-id="{{id}}">
		        DEVOUR
	          </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>
    </div>
    <div class="col bg-danger text-white text-center">
            <h2>Burgers Devoured</h2>
      <ul>
{{#each burgers}}
    {{#if devoured}}
      <li>
          {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
    </div>
    <div class="col bg-warning text-dark text-center">
        <h2>Add a Burger</h2>
<form class="create_form">

  <div>
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>


  <button type="submit">Add Burger!</button>
</form>
    </div>
  </div>
</div>